@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    font-display: swap;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #0F0F0F;
    zoom: 1.05;
    font-family:Arial, Helvetica, sans-serif
}

a {
    color: #babec9;
}

a:link {
    color: #babec9;
}

a:visited {
    color: #babec9;
}

a:active {
    color: #babec9;
}

a:hover {
    color: darkgray;
}

.header {
    background-color: #202027;
    height: 110px;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

h1 {
    font-size: 25px;
    text-align: center;
}

.content {
    background-color: #0F0F0F;
    height: calc(100% - 125px);
    width: 100%;
    padding: 0px;
    box-shadow: 0px 0px 15px #0F0F0F;
}

.title {
    color: #babec9;
    font-family: "Product Sans";
    font-weight: 900;
    font-size: 200px;
    margin-top: 0px;
    margin-left: 50px;
    text-shadow: 0px 0px 20px #202027;
}

hr {
    border-top: 1px solid #babec905;
    margin: 20px;
}

ul {
    padding-left: 20px;
}

.hover-button {
    color: white;
    border: 2px solid #babec980;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px 12px;
    margin-right: 50px;
    transition: 0.2s;
    font-size: large;
    max-width: max(0px, calc((50% - 120px)));
    overflow: hidden;
}

.hover-button:hover {
    background:#babec9;
    color:black;
    box-shadow: 0px 0px 10px #2e60d5;
    transform: scale(1.05);
}

.logo-button-image {
    width: 40px;
    padding: 0px;
    margin-top: 35px;
    margin-right: 30px;
    margin-left: 5px;
    transform-origin: center;
    transition: all 0.2s ease-in-out;
    float: right;
}

.logo-button-image:hover {
    transform: scale(1.1);
    transform-origin: 20px 20px;
}

.hover-hide {
    display: none;
}

.logo-button-image:hover + .hover-hide {
    display: block;

}

.hex {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
    color: #2e60d5;
    width: calc(100% - 60px);
    padding: 90px 20px 90px 20px;
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    height: calc(30px * 4);
    white-space: nowrap;
    overflow: hidden !important;
    word-wrap: break-word;
    text-overflow: clip;
    display: block;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.separator1 {
    color: #babec9;
    height: 50px;
    background-color: #13192a;
    text-align: center;
    box-shadow: 0px 0px 50px #0F0F0F;
    white-space: nowrap;
}

#news {
    position: relative;
    font-size: 15px;
    width: 75vw;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* blinking cursor */
#cursor {
    color: #babec9;
    line-height: 15px;
    margin-left: 4px;
    animation: blink 1s infinite;
    width: 2px;
    height: 18px;
    display: inline-block;
    animation-timing-function: step-end;
}

@keyframes blink {
    0% {color: transparent}
    50% {color: #babec9}
    100% {color: transparent}
}

.badge-blue {
    font-family: "Product Sans";

    margin-top: 14px;
    margin-left: 50px;
    color: #b4c0dd;
    background-color: #385db4;
    border: .2em solid #4573e0;
    overflow: visible;
    margin-right: 0;
    padding: .05em 1em;
    border-radius: 999px;
    font-size: .75em;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    margin-right: 15px;
    box-shadow: 0px 0px 10px #0F0F0F;
    word-wrap: break-word;
    text-overflow: ellipsis;
    float: left;
}

.screenshot-box {
    display: flex;
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.screenshot {
    position:relative;
    width: 50%;
    height: auto;
    transition: 0.5s;
}

::-webkit-scrollbar {
    width: 12px;
    padding-right: 25px;
    z-index: -100;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.5);
    border: solid 3px transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.8);
    border: solid 3px transparent;
    border-radius: 10px;
}

.main-description {
    color: #babec9;
    background-color: #21132a;
    text-align: left;
    box-shadow: 0px 0px 50px #0F0F0F;
    padding: 20px;
    align-items: left;
}

.features {
    color: #babec9;
    background-color: #132a1d;
    text-align: center;
    box-shadow: 0px 0px 50px #0F0F0F;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.debugging {
    color: #babec9;
    background-color: #132a1d;
    text-align: center;
    box-shadow: 0px 0px 50px #0F0F0F;
    padding: 20px;
    align-items: center;
    display: block;
}

.features-block {
    width: 700px;
    margin: 10px 50px;
    padding: 10px 10px;
    text-align: left;
    align-self: center;
}

.feature-title {
    font-size: 40px;
}

.features-content {
    font-size: medium;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.feature-list {
    padding-top: 10px;
    max-width: 300px;
    text-align: left;
    font-size: 14px;
}

.feature-image {
    width: 350px;
    object-fit: contain;
    filter:
            drop-shadow(0px 0px 5px #0F0F0F);
    margin: 5px 20px;
    flex: 0 1 auto;
    transition: 0.5s;
}

.feature-image:hover {
    transform: scale(2);
    filter: drop-shadow(0px 0px 10px #0F0F0F);
    transform-origin: left
}

@media (max-width: 950px) {
    .header {
        height: 50px;
    }

    .hex {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 30px;
        color: #2e60d5;
        width: calc(100% - 60px);
        padding: 30px 20px 30px 20px;
        -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
        height: calc(30px * 2);
        white-space: nowrap;
        overflow: hidden !important;
        word-wrap: break-word;
        text-overflow: clip;
        display: block;
    }

    .hover-button {
        visibility: hidden;
    }

    .title {
        font-size: 50px;
        margin-top: 20px;
    }

    .features {
        color: #babec9;
        background-color: #132a1d;
        text-align: center;
        box-shadow: 0px 0px 50px #0F0F0F;
        padding: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .feature-title {
        font-size: 30px;
    }

    .features-block {
        width: 700px;
        margin: 10px 50px;
        padding: 10px 10px;
        text-align: center;
        font-size: 40px;
    }

    .features-content {
        font-size: medium;
    }

    .feature-list {
        padding-top: 10px;
        max-width: 100%;
        text-align: center;
        font-size: 18px;
        align-self: center;
    }

    .feature-image {
        width: 100%;
        object-fit: contain;
        filter:
                drop-shadow(0px 0px 5px #0F0F0F);
        margin: 5px 20px;
        flex: 0 1 auto;
        transition: 0.5s;
    }

    .feature-image:hover {
        transform: none;
        filter: drop-shadow(0px 0px 5px #0F0F0F);
    }

    .logo-button-image {
        margin-top: 13px;
        width: 25px;
        height: 25px;
    }
}



.download {
    color: #babec9;
    background-color: #2a1313;
    text-align: center;
    box-shadow: 0px 0px 50px #0F0F0F;
    padding: 20px;
}

.download-badge {
    background-color: #080808;
    border: solid 2px white;

    color: #b4c0dd;
    display: inline-block;
    overflow: visible;
    margin-right: 0;
    padding: .2em .8em;
    border-radius: 5px;
    font-size: .75em;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    box-shadow: 0px 0px 10px #0F0F0F;
    word-wrap: break-word;
    text-overflow: ellipsis;
    height: 50px;
    font-size: 20px;
    transition: 0.2s;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.download-badge:hover {
    transform: scale(1.05);
}

.windows-color:hover {
    box-shadow: 0px 0px 30px #2e60d5;
}

.macos-color:hover {
    box-shadow: 0px 0px 30px #d52e2e;
}

.linux-color:hover {
    box-shadow: 0px 0px 30px #1a5712;
}

.nightly-color:hover {
    box-shadow: 0px 0px 30px #e2e2e280;
}

.download-text {
    display: inline;
}

.download-logo {
    display: inline;
    float: left;
    width: auto;
    height: 30px;
    max-width: 30px;
    padding-top: 10px;
    padding-right: 10px;
}

.resources {
    color: #babec9;
    background-color: #3b3617;
    text-align: center;
    box-shadow: 0px 0px 20px #0F0F0F;
    padding: 20px;
}

.resource-badge {
    background-color: #080808;
    border: solid 2px white;

    color: #b4c0dd;
    display: inline-block;
    overflow: visible;
    margin-right: 0;
    padding: .2em .8em;
    border-radius: 5px;
    font-size: .75em;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    box-shadow: 0px 0px 10px #0F0F0F;
    word-wrap: break-word;
    text-overflow: ellipsis;
    font-size: 20px;
    transition: 0.2s;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    z-index: 2;
}

.resource-text {
    display: inline;
}

.footer {
    color: #babec9;
    background-color: #141313;
    text-align: center;
    box-shadow: 0px 0px 20px #0F0F0F;
    padding: 20px;
    font-size: smaller;
}

.download-badge {
    position: relative;
    display: inline-block;
}

.dropdown-link-container {
    padding: 5px 16px;
    z-index: 1;
}

.dropdown-content .dropdown-link-container:hover {
    color:#b4c0dd;
    background-color: #111111;
    text-decoration: none;
}

.dropdown-content a:link {
    color:#b4c0dd;
    text-decoration: none;
}

.dropdown-content a:visited {
    color:#b4c0dd;
    text-decoration: none;
}

.dropdown-content {
    transform: translateY(0px);
    display: none;
    position: absolute;
    background-color: #080808;
    border: solid 2px white;
    border-radius: 5px;
    color: #babec9;
    text-align: center;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0;
    z-index: 1;
    font-size: medium;
}

.download-badge:hover .dropdown-content {
    display: block;
}

.pattern-count-box {
    visibility: hidden;
    opacity: 0;
    transition:visibility 0.2s linear,opacity 0.2s linear;

    text-align: center;
    position: absolute;
    right: 0px;
    float: right;
    background-color: #471f1f;
    margin: 20px;
    box-shadow: 0px 0px 10px #0F0F0F;
    border-radius: 5px;
    padding: 15px;
    color: white;
}

.link-box {
    visibility: visible;
    opacity: 1;
    transition: 0.25s;

    text-align: center;
    position: absolute;
    right: 0px;
    float: right;
    background-color: #1f3a47;
    margin: 20px;
    box-shadow: 0px 0px 10px #0F0F0F;
    border-radius: 5px;
    padding: 15px;
    margin-top: 100px;
    color: white;
    font-family: "Product Sans";
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
}

.link-box:hover {
    transform: scale(1.15);
}

.pattern-count-box.visible {
    visibility: visible;
    opacity: 1;
}

.download-wrap {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    width: min(20vw, 30em);
}

.download-wrap > * {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}