.window-frame {
    background-color: #363838;
    position: relative;
    border: 1px gray ridge;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 7pt;

    @media(width > 1000px) {
        width: calc(1000px - 4em - 40px);
    }
    @media(width <= 1000px) {
        width: 90%;
    }
    aspect-ratio: 16 / 10;
}

.imhex-web-canvas-wrapper {
    margin-top: 26px;
    border-radius: 0 0 7pt 7pt;
    width: 100%;
    height: 100%;
    border-top: 1px solid #1a1a1a;
    overflow: hidden;
    background-image: url("/src/assets/screenshot.png");
    background-size: 100% 100%;
}

.imhex-web-canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
    image-rendering: smooth;
    margin: 0;
    padding: 0;
}

.imhex-web-fallback-image {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.window-frame-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.window-frame-svg {
    width: 100%;
    height: 100%;
    border-radius: 20pt;
    margin: 0;
}